$body-bg: #192946;
$body-color: #192946;
$primary: #192946;
$secundary: #d1515a;

#nav {
	padding: 30px;
}

#nav a {
	font-weight: bold;
	color: white;
}

#nav a.router-link-exact-active {
	color: #d1515a;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
